/*
Let's break down some notes

- Start with Outside -> iside
- FlexBox is applied to the parent to control the children

*/



body {
    background-color: #d5e1ef;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 300px;
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    

}
.card h1{
    font-size: 18px;
    margin: 16px 0 12px;
}
.card p{
    font-size: 14px;
    color: #7b879d;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

